#root {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #db4f48;
  font-family: 'Gabarito', sans-serif;
  font-weight: 400;
  position: relative;
}

.tip {
  position: absolute;
  bottom: 10px;
  left: 10px;
  display: none;
}

.app {
  max-width: 320px;
  height: 100vh;

  /* Center horizontally */
  margin: 0 auto;
  padding: 0 16px;

  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.status {
  font-size: 48px;
}
.focus {
  color: #fadbdb;
}

.short-break {
  color: #8EAA6E;
}

.btnContainer {
  z-index: 2;
  display: flex;
  justify-content: space-around;
  width: 38ch;
  margin: 2rem 0;
}

.timer,
#timeSpan {
  margin: auto;
  z-index: 2;
}

/* Set height and width on timer container */
.timer {
  flex: 1;
  position: relative;
  height: 300px;
  width: 300px;
}

/* span to display time */
#timeSpan {
  position: absolute;

  /* Keep the label aligned to the top */
  top: 0;

  /* Match size of parent container */
  height: 300px;
  width: 300px;

  /* Center content with flexbox */
  display: flex;
  align-items: center;
  justify-content: center;

  /* Font style */
  font-size: 48px;
  font-weight: 700;
}

.outerCircle {
  fill: #fadbdb;
}
/* Remove SVG fill and stroke to allow time span to appear through */
.timer__circle {
  fill: none;
  stroke: none;
}

/* SVG path to display timer progress */
.timer__path-elapsed {
  stroke-width: 7px;
  stroke: #f3b8b7;
}

.timer__path-remaining {
  /* Just as thick as the original ring */
  stroke-width: 7px;

  /* Rounds the line endings to create a seamless circle */
  stroke-linecap: round;

  /* Makes sure the animation starts at the top of the circle */
  transform: rotate(90deg);
  transform-origin: center;

  /* One second aligns with the speed of the countdown timer */
  transition: 1s linear all;

  stroke: #db4f48;
}

.timer__svg {
  /* Flips the svg and makes the animation to move left-to-right */
  transform: scaleX(-1);
}

#clockTickAnimation {
  position: absolute;
  height: 100vh;
  width: 100vh;
  z-index: 1;
  overflow: hidden;
}

/* Animate clock ticks */

@keyframes reset-svg {
  from {
    transform: rotate(0deg);
    fill: #fadbdb;
  }
  to {
    transform: rotate(-180deg);
    fill: #000000;
  }
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }

  55% {
    transform: rotate(32deg);
  }
  72% {
    transform: rotate(28deg);
  }

  100% {
    transform: rotate(30deg);
  }
}

.reset-svg {
  animation-name: reset-svg;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: 1;
}

.rotate-svg {
  fill: #fadbdb;
  animation-name: rotate;
  animation-duration: 1s;
  /* animation-timing-function: steps(60, end); */
  animation-timing-function: cubic-bezier(0.51, 0.17, 0.81, 0.88);
  /* animation-timing-function: ease-in; */
  /* animation-timing-function: ease-in; */
  animation-iteration-count: infinite;
}

  /* Styles to apply when screen width is greater than or equal to 600px */
@media (min-width: 600px) {
  .tip {
    display: block;
  }
}