
#root {
  max-width: 320px;
  height: 100vh;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.btnContainer {
  z-index: 2;
}

.timer, #timeSpan {
  margin: auto;
  z-index: 2;
}

/* Set height and width on timer container */
.timer {
  position: relative;
  height: 300px;
  width: 300px;
}

/* span to display time */
#timeSpan {
  position: absolute;

  /* Keep the label aligned to the top */
  top: 0;

  /* Match size of parent container */
  height: 300px;
  width: 300px;

  /* Center content with flexbox */
  display: flex;
  align-items: center;
  justify-content: center;

  /* Font style */
  font-size: 48px;
}

.outerCircle {
  fill: #fadbdb;
}
/* Remove SVG fill and stroke to allow time span to appear through */
.timer__circle {
  fill: none;
  stroke: none;
}

/* SVG path to display timer progress */
.timer__path-elapsed {
  stroke-width: 7px;
  stroke: #F3B8B7;
}

.timer__path-remaining {
  /* Just as thick as the original ring */
  stroke-width: 7px;

  /* Rounds the line endings to create a seamless circle */
  stroke-linecap: round;

  /* Makes sure the animation starts at the top of the circle */
  transform: rotate(90deg);
  transform-origin: center;

  /* One second aligns with the speed of the countdown timer */
  transition: 1s linear all;

  stroke: #EB9592;
}

.timer__svg {
  /* Flips the svg and makes the animation to move left-to-right */
  transform: scaleX(-1);
}

#clockTickAnimation {
  position: absolute;
  height: 100vh;
  width: 100vh;
  left: 0;
  z-index: 1;
}

/* Animate clock ticks */

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }

  55% {
    transform: rotate(32deg);
  }
  72% {
    transform: rotate(28deg);
  }

  100% {
    transform: rotate(30deg);
  }
}

.rotate-svg {
  animation-name: rotate;
  animation-duration: 1s;
  /* animation-timing-function: steps(60, end); */
  animation-timing-function: cubic-bezier(0.51, 0.17, 0.81, 0.88);
  /* animation-timing-function: ease-in; */
  /* animation-timing-function: ease-in; */
  animation-iteration-count: infinite;
}

.pause-rotate-svg {
  fill: blue;
}